<div class="active-form" *ngFor="let item of folders">
    <a href="" class=""><i class="fas fa-file fa-6x" style="margin-left: 10px;"></i></a>
    <div class="file-img">
        <div class="form-desc">
            <div>
                <a href="" style="color: black;margin-bottom: 0px; font-family: Open Sans;font-style: normal;font-weight: normal;font-size: 17px;line-height: 23px;">Activity</a>
            </div>
            <div><p style="margin-bottom: 0px; font-family: Open Sans;font-style: normal;font-weight: bold;
                font-size: 14px;line-height: 19px;">{{item}}</p></div>
            <div><p style="margin-bottom: 0px; font-family: Open Sans;font-style: normal;font-weight: bold;
                font-size: 14px;line-height: 19px;">Active from : <b style="color: blue;">28th June 2021</b></p></div>
            <div><p style="margin-bottom: 0px; font-family: Open Sans;font-style: normal;font-weight: bold;
                font-size: 14px;line-height: 19px;">Total Responses : <b style="color: blue;">28th June 2021</b></p></div>
        </div>
    </div>
    
    
</div>