<div class="active-form" *ngFor="let item of folders">
    <a href="" class=""><i class="fas fa-file fa-5x" style="margin-left: 10px;"></i></a>
    <div class="file-img">
        <div class="form-desc">
            <div>
                <a href="">Activity</a>
            </div>
            <div><p>{{item}}</p></div>
            <div><p>Active from : <b style="color: blue;">28th June 2021</b></p></div>
            <div><p>Total Responses : <b style="color: blue;">28th June 2021</b></p></div>
        </div>
    </div>
</div>